<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="text-white flex flex-row  gap-x-3 sm:gap-x-4 md:gap-x-10 opacity-80 text-xs sm:text-sm md:text-base lg:text-base">
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#tecnologias">Tecnologías</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>